<div layout="column" ng-cloak  style="height: 100%;">
  <section layout="row" flex>


    <!-- PANEL CENTRAL -->
    <md-content layout="row" layout-wrap layout-align="start start">
        <div style="margin: 10px;" layout="column" layout-align="center" ng-click="openRight()">
          <img src="images/nota.svg"/>
          <div style="text-align: center">Nota-UNC:123/2016</div>
        </div>
        <div style="margin: 10px;" layout="column" layout-align="center" ng-click="openRight()">
          <img src="images/nota.svg"/>
          <div style="text-align: center">Nota-UNC:123/2016</div>
        </div>
        <div style="margin: 10px;" layout="column" layout-align="center" ng-click="openRight()">
          <img src="images/nota.svg"/>
          <div style="text-align: center">Nota-UNC:123/2016</div>
        </div>
        <div style="margin: 10px;" layout="column" layout-align="center" ng-click="openRight()">
          <img src="images/nota.svg"/>
          <div style="text-align: center">Nota-UNC:123/2016</div>
        </div>
        <div style="margin: 10px;" layout="column" layout-align="center" ng-click="openRight()">
          <img src="images/nota.svg"/>
          <div style="text-align: center">Nota-UNC:123/2016</div>
        </div>
        <div style="margin: 10px;" layout="column" layout-align="center" ng-click="openRight()">
          <img src="images/nota.svg"/>
          <div style="text-align: center">Nota-UNC:123/2016</div>
        </div>
        <div style="margin: 10px;" layout="column" layout-align="center" ng-click="openRight()">
          <img src="images/nota.svg"/>
          <div style="text-align: center">Nota-UNC:123/2016</div>
        </div>
        <div style="margin: 10px;" layout="column" layout-align="center" ng-click="openRight()">
          <img src="images/nota.svg"/>
          <div style="text-align: center">Nota-UNC:123/2016</div>
        </div>
        <div style="margin: 10px;" layout="column" layout-align="center" ng-click="openRight()">
          <img src="images/nota.svg"/>
          <div style="text-align: center">Nota-UNC:123/2016</div>
        </div>
        <div style="margin: 10px;" layout="column" layout-align="center" ng-click="openRight()">
          <img src="images/nota.svg"/>
          <div style="text-align: center">Nota-UNC:123/2016</div>
        </div>
        <div style="margin: 10px;" layout="column" layout-align="center" ng-click="openRight()">
          <img src="images/nota.svg"/>
          <div style="text-align: center">Nota-UNC:123/2016</div>
        </div>
        <div style="margin: 10px;" layout="column" layout-align="center" ng-click="openRight()">
          <img src="images/nota.svg"/>
          <div style="text-align: center">Nota-UNC:123/2016</div>
        </div>
        <div style="margin: 10px;" layout="column" layout-align="center" ng-click="openRight()">
          <img src="images/nota.svg"/>
          <div style="text-align: center">Nota-UNC:123/2016</div>
        </div>
        <div style="margin: 10px;" layout="column" layout-align="center" ng-click="openRight()">
          <img src="images/nota.svg"/>
          <div style="text-align: center">Nota-UNC:123/2016</div>
        </div>
        <div style="margin: 10px;" layout="column" layout-align="center" ng-click="openRight()">
          <img src="images/nota.svg"/>
          <div style="text-align: center">Nota-UNC:123/2016</div>
        </div>
        <div style="margin: 10px;" layout="column" layout-align="center" ng-click="openRight()">
          <img src="images/nota.svg"/>
          <div style="text-align: center">Nota-UNC:123/2016</div>
        </div>
        <div style="margin: 10px;" layout="column" layout-align="center" ng-click="openRight()">
          <img src="images/nota.svg"/>
          <div style="text-align: center">Nota-UNC:123/2016</div>
        </div>
        <div style="margin: 10px;" layout="column" layout-align="center" ng-click="openRight()">
          <img src="images/nota.svg"/>
          <div style="text-align: center">Nota-UNC:123/2016</div>
        </div>
    </md-content>


    <!--  PANEL DERECHO -->
    <md-sidenav
    class="md-sidenav-right"
    md-component-id="right"
    md-is-locked-open="sidenavflag"
    md-disable-backdrop
    md-whiteframe="4">
    <div class="md-toolbar-tools">
      <h1> Nombre del documento </h1>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeRight()">
        <md-icon class="material-icons" aria-label="Close dialog"> close </md-icon>
      </md-button>
    </div>

    <md-content>
      <!-- INFORMACION DEL DOCUMENTOS (METADATOS) -->
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Información">
          <md-content class="md-padding">
            <p>aqui metadatos</p>
          </md-content>
        </md-tab>
        <!-- VERSIONES DEL DOCUMENTO -->
        <md-tab label="Historial">
          <md-content class="md-padding">
            <p>aqui versiones</p>
          </md-content>
        </md-tab>
        <!-- ACTIVIDADSE SOBRE EL DOCUMENTO -->
        <md-tab label="Actividades">
          <md-content class="md-padding">
            <p>aqui actividades</p>

          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>

  </md-sidenav>

</section>
</div>
