<div layout="column" ng-cloak style="height: 100%;">
  <section layout="row" style="height: 100%;">

        <!-- PANEL CENTRAL -->
    <div flex layout="column" class="document-content">
      <div layout="row" layout-align="end center" class="md-toolbar-tools" style="width: 100%;">
        <md-button class="md-icon-button md-accent" aria-label="Settings">
          <md-icon class="material-icons"> info </md-icon>
        </md-button>
        <md-button class="md-icon-button md-accent" aria-label="Settings">
          <md-icon class="material-icons"> remove_red_eye </md-icon>
        </md-button>
        <!-- <md-button class="md-icon-button md-primary" aria-label="Settings">
          <md-icon class="material-icons"> sort_by_alpha </md-icon>
        </md-button> -->
      </div>
    <md-content layout="row" layout-wrap layout-align="center start" style="height: 100%;" ng-click="deselectedDoc()">
      <div style="margin: 10px; outline: none;" layout="column" ng-click="openRight($event, $index)" ng-dblclick="showPDF()"
      ng-class="{'document-selected': isSelected($index)}" ng-repeat="doc in documents.docs">
        <img src="{{doc.preview}}"/>
        <div layout="row" layout-align="center center" class="document-border">
          <md-icon md-svg-src="{{doc.icon}}" class="document-icon-16"></md-icon>
          <div>{{doc.name}}</div>
        </div>
      </div>
    </md-content>
  </div>
    <!-- </div> -->

    <!--  PANEL DERECHO -->
    <md-sidenav
    class="md-sidenav-right"
    md-component-id="right"
    md-is-locked-open="sidenavflag && $mdMedia('gt-md')"
    md-disable-backdrop
    md-whiteframe="4"
    style="min-width: 340px; background-color: #fafafa;">
    <div class="md-toolbar-tools">
      <div layout="row">
        <md-icon md-svg-src="{{selectedDoc.icon}}" class="document-icon-24"></md-icon>
        <h1> {{selectedDoc.name}} </h1>
      </div>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeRight()">
        <md-icon class="material-icons" aria-label="Close dialog"> close </md-icon>
      </md-button>
    </div>

    <md-content>
      <!-- INFORMACION DEL DOCUMENTOS (METADATOS) -->
      <md-tabs md-dynamic-height md-border-bottom>

        <md-tab label="Información">
          <md-content class="md-padding" style="color:#607D8B">
            <div layout="row" layout-align="space-between center" ng-repeat="(key, value) in selectedDoc.properties">
              <div>
                <span>{{key}}: </span>
              </div>
              <div>
                <span> {{value}}</span>
              </div>
            </div>
            <md-divider style="margin-bottom: 10px; margin-top: 20px;" ></md-divider>
            <div>
                <span> Archivos </span>
            </div>
          </md-content>
        </md-tab>

        <!-- ACTIVIDADSE SOBRE EL DOCUMENTO -->
        <md-tab label="Actividades">
          <md-content class="md-padding">
            <p>aqui actividades</p>

          </md-content>
        </md-tab>
        <!-- VERSIONES DEL DOCUMENTO -->
        <md-tab label="Historial">
          <md-content class="md-padding">
            <p>aqui versiones</p>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>

  </md-sidenav>

</section>
</div>
