<div layout="column" style="height: 100%">


<!-- BARRA SUPERIOR  -->
  <md-toolbar>
    <div class="md-toolbar-tools">

    <!--  Nombre sistema y menu al minimizar el browser -->
      <div>
        <md-button class="md-icon-button" ng-click="toggleSidenav()" hide-gt-md class="md-icon-button" aria-label="Settings">
           <md-icon class="material-icons"> menu </md-icon>
        </md-button>
        <div hide-sm hide-md hide-xs>
          <h2> Mara </h2>
        </div>
      </div>

      <!-- Barra de busqueda -->
      <div layout="row" layout-align="center center" style="width: 90%;">
        <md-input-container layout="row" layout-align="center center" style="width: 50%;" md-no-float class="md-icon-float md-icon-right">
          <input ng-model="tod.search" type="text" placeholder="Buscar documentos">
          <md-icon class="material-icons search" aria-label="Buscar"> search </md-icon>
        </md-input-container>
      </div>

      <!-- Perfil usuario -->
      <div class="md-subhead"> romina.racca </div>

    </div>
  </md-toolbar>


<!--  CONTENIDO -->
  <div layout="row" style="bottom:0px; top:64px; position:absolute; width: 100%;" ng-cloak>

      <!--  PANEL IZQUIERDO -->
      <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop="" md-whiteframe="4">

        <!-- Boton NUEVO -->
         <section layout="row" layout-align="center center" layout-wrap style="margin-top: 15px; margin-bottom: 15px;">
           <md-button class="md-raised md-accent" style="color:white" ng-click="newDocument($event)"> Nuevo </md-button>
         </section>

         <!-- MENU DE OPCIONES -->
         <div style="display:flex;overflow:auto;">
           <ul class="unstyled minimized fade" style="width: 100%;">

             <!-- INBOX -->
             <li>  <!-- Tamaño de la fila  style="font-size: 1rem;" -->
               <a class="waves-effect list-item" style="padding-left:16px">
                 <div class="pull-left truncate">
                   <md-icon class="material-icons"> inbox </md-icon> Inbox
                 </div>
                 <!-- <div class="pull-right">
                   <i class="icon icon-arrow-down6 toggle" data-class="icon-arrow-down6" data-altclass="icon-arrow-up5"></i>
                 </div> -->
               </a>
             </li>

              <!-- DOCUMENTOS -->
              <li>  <!-- Tamaño de la fila  style="font-size: 1rem;" -->
                 <!-- ver onFinishRender en controlador, es para que carguen los hijos-->
                <a href="#" class="waves-effect list-item" style="padding-left:16px">
                 <div class="pull-left truncate">
                    <md-icon class="material-icons"> dns </md-icon> Documentos
                  </div>
                  <div class="pull-right">
                    <!-- <i class="icon icon-arrow-down6 toggle" data-class="icon-arrow-down6" data-altclass="icon-arrow-up5"></i> -->
                    <md-icon class="material-icons"> keyboard_arrow_down</md-icon>
                  </div>
                </a>
                <ul>
                  <li ng-repeat="document in documents.tod" on-finish-render>
                    <a ui-sref="index.document" class="waves-effect list-item base-padding" style="padding-left:15%" ng-click="docMenuSelected($index)">
                       <div layout="row" layout-align="start">
                        <md-icon md-svg-src="{{document.icon}}" class="document-icon-16"></md-icon>
                        <div>{{document.name}}</div>
                       </div>
                    </a>
                  </li>
                  <div style="height:15px;"></div>
                </ul>
              </li>

           </ul>
         </div>

      </md-sidenav>

      <!--  PANEL DERECHO -->
        <div layout="column" layout-fill layout-align="top center">
          <div ui-view style="height: 100%; width: 100%;"></div>
        </div>

  </div> <!-- Fin de CONTENIDO  -->
</div>
