<div layout="row" ng-cloak style="height: 100%;">

  <!-- <doc-builder layout="column" flex="grow" ng-model="test" schema="schema" edit="true" done="done(canceled)"></doc-builder> -->

  <div  ng-switch="todSelected.idnetifier" style="width: 100%; height: 100%;">

    <div ng-switch-when="ACTA" style="height: 100%;"> </div>

    <div ng-switch-when="ANEX" layout="column" style="padding: 10px 20px; height: 100%"></div>

    <div ng-switch-when="NOTA" style="height: 100%;"> NOTA </div>


    <div ng-switch-default layout="column" style="padding: 10px 20px; height: 100%">

      <!-- titulo -->
      <div flex="10" layout="row" layout-align="center center" style="width: 100%;">
        <h2 class="md-title">Anexo-UNC:123456/2016</h2>
      </div>

      <!-- destinatario , fecha, ciudad -->
      <div flex="10" layout="row" layout-align="space-between center">
        <md-input-container class="md-block" style="width: 30%;">
          <label class="md-subhead">Destinatario</label>
          <textarea ng-model="vm.recipientDefault" type="text" rows="2"></textarea>
        </md-input-container>
        <div layout="row">
          <md-input-container style="margin: 0px;" class="md-block">
            <label class="md-subhead">Ciudad</label>
            <input ng-model="vm.cityDefault" type="text">
          </md-input-container>
          <md-datepicker ng-model="vm.myDate" md-placeholder="Ingresar fecha" style="background-color: #fafafa;"></md-datepicker>
        </div>
      </div>

      <!--  Ref -->
      <div flex="10" layout="row" >
        <md-input-container flex-offset="20" flex="80" class="md-block" style="margin-top: 0px; margin-bottom: 0px;">
          <input type="text" ng-model="vm.refDEfault">
        </md-input-container>
      </div>

      <!-- cuerpo -->
      <!-- <div id="mara-div-editor" flex="60">
          <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.tinymceModel"> </textarea>
      </div> -->
      <unc-editor id="unc-editor" flex="60"></unc-editor>

      <div flex="10" layout-margin>
        botones
      </div>

    </div> <!-- fin de Default  -->


  </div>


</div>
